<template name='entrySignIn'>
  <div class="entry">
    {{#if logo}}
    <a href="/" class="entry-logo"></a>
    {{/if}}
    {{#if otherLoginServices}}
    <div class="entry-social">
      {{#each loginServices}}
      {{> entrySocial}}
      {{/each}}
      {{#if passwordLoginService}}
      <div class="email-option">
        <strong class="line-thru or-sign-in">{{t9n "OR"}}</strong>
      </div>
      {{/if}}
    </div>
    {{/if}}
    {{#unless otherLoginServices}}
    <div class="email-option">
      <h3>{{t9n "signIn"}}</h3>
    </div>
    {{/unless}}
    {{#if passwordLoginService}}
    <form class="entry-form ui form segment" id='signIn'>
      <div class="field">
        <div class="ui input">
          <input autofocus name="email" type="{{emailInputType}}"
                 value='{{email}}' placeholder="{{emailPlaceholder}}">
        </div>
      </div>
      <div class="field">
        <div class="ui input">
          <input name="password" type="password" value='{{password}}'
                 placeholder="{{t9n 'password'}}">
        </div>
      </div>
      {{#unless isUsernameOnly}}
      <p><a href="{{pathFor 'entryForgotPassword'}}">{{t9n "forgotPassword"}}</a></p>
              <button type="submit" class="ui button submit">{{t9n "signIn"}}</button>
      {{/unless}}
      {{> entryError}}
    </form>
    {{/if}}
    <p class="entry-signup-cta">{{t9n "dontHaveAnAccount"}} <a href="/sign-up">{{t9n
      "signUp"}}</a></p>
  </div>
</template>
